.hero {
  min-height: 100vh;
}
   ul {
    list-style: none;
  }
  
  img {
    width: 100%;
    height: auto;
    z-index: -1;
  }
  
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
  }
  
  .border-bottom {
    position: absolute;
    top: 100px;
    width: 0%;
    z-index: 1;
    border-color: rgba(255,255,255, .2);
    border-width: .5px;
  }
  
  .logo,
  .menu-links {
    position: absolute;
    padding: 20px 0px;
  }
  
  .logo {
    width: 200px;

    @media(min-width: 720px) {
        width: 300px;
    }
  }
  
  .menu-links {
    right: 0px;
    line-height: 1;
    margin-left: 30px;

    @media(min-width: 720px) {
        right: 100px;
    }
  }
  
  .menu-links ul li {
    display: inline-block;
    padding: 10px 10px;
    color: rgba(255,255,255, .5);
    border-radius: 5px;
    cursor: pointer;

    &:last-child {
        
        border: 1px solid #888;
    }

    a {
      text-decoration: none;
      color: rgba(255,255,255, .5);
    }

    &:hover {
      background-color: #121212;

      a {
        color: white;
      }
  }

    @media(min-width: 720px) {
        padding: 20px 30px;
    }

    
  }
  
  
  .text {
    position: absolute;
    top: 180px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    color: #fff;
    text-shadow: 1px 1px black;
    z-index: 100;

    @media(min-width: 720px) {
        top: 420px;
        left: 450px;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
  }
  
  .subtitle {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
  }
  
  .subtitle::before {
    display: inline-block;
    content: "";
    border: 1px solid #fff;
    width: 80px;
    margin: 0 10px 0 0;
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  
  .title {
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    text-transform: uppercase;
    width: 0%;
    overflow: hidden;
    white-space: nowrap
  }
  
  .desc {
    margin: 40px auto 0;
    padding: 0.25rem 0.5rem;
    color: rgba(249, 249, 249, 0.87);
    line-height: 2;
    width: 80%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.456), rgba(0, 0, 0, 0.352));
   

    @media(min-width: 980px) {
        width: 100%;       
        color: rgba(168, 168, 168, 0.574);
    }
  }
  
  .readmore {
    display: inline-block;
    margin-top: 80px;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 3px;
    font-weight: bolder;
  }
  
  .img-1 {
    position: absolute;
    top: 200px;
    right: 20px;
   /*  transform: translateY(-50%); */
    background: url('../../assets/images/tony_gogo_redbull.png') no-repeat;
    background-position: center;
    background-size: cover;
   /*  width: 200px;
    height: 300px; */

    @media screen and (min-width: 720px) {
        top: 100px;
        right: 420px;
        /* width: 450px;
        height: 600px; */
    }
  }
  
  .slider {
    position: absolute;
    bottom: 100px;
    right: 320px;
    width: 450px;
    opacity: 0;
  }
  
  .arrows {
    float: left;
  }
  
  .pages {
    float: right;
  }
  
  .pages span {
    font-size: 40px;
    font-weight: bolder;
    line-height: .8;
  }
  
  .arrows ul li {
    display: inline-block;
    background: #2F302F;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .img-2 {
    position: absolute;
    top: 580px;
    right: auto;
    left: 0;
    z-index: 10;
    /* transform: translateY(-50%); */
    background: url('../../assets/images/tg_jd.png') no-repeat;
    background-position: center;
    background-size: cover;
   /*  width: 180px;
    height: 180px; */
    margin-bottom: 30px;

    @media(min-width: 720px) {
        top: 120px;
        right: 50px;
        left: auto;
       /*  width: 280px;
        height: 350px; */
    }
  }
  
  .img-3 {
    position: absolute;
    top: 620px;
    right: 0px;
    /* transform: translateY(-50%);  */
    background: url('../../assets/images/tg_cap.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    /* width: 180px;
    height: 280px; */

    @media(min-width: 720px) {
        top: 620px;
        right: 50px;
       /*  width: 280px;
        height: 600px; */
    }
  }
  
  .overlay {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: 2;
    background: #ec1417;
  }
  
  .first {
    width: 33.3vw;
    position: absolute;    
    left: 0;
  }
  
  .second {
    width: 33.3vw;
    position: absolute;
    left: 33.3vw;
  }
  
  .third {
    width: 33.3vw;
    position: absolute;
    left: 66.6vw;
  }

  .icon {
        position: relative;
        font-size: 3rem;
        color: #fafafa;
        z-index: 100;
    }
  
  @media(max-height: 720px) {
    .text {
      top: 360px;
      left: 360px;
    }
  
    .title {
      font-size: 100px;
    }
  
    .desc {
      margin-top: 30px;
    }
  
    .readmore {
      margin-top: 60px;
    }
  
    .img-1 {
      top: 240px;
      right: 330px;
      height: 480px;
    }
  
    .slider {
      right: 330px;
    }
  
    .img-2 {
      top: 270px;
      height: 280px;
    }
  
    .img-3 {
      top: 740px;
    }
  }