.contact {
    margin: 4rem auto;
    max-width: 800px;
    overflow-x: hidden;

    h2 {
        font-family: SourcePro;
        font-size: clamp(2rem, 4vw, 6rem);
        color: white;
    }


    
    .contact_form {
        margin: 4rem auto;
        width: 70%;
        height: 600px;
        border: 1px solid #888;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
    
        .input_field {
            position: relative;
            margin: 0.25rem auto 0.5rem;
            width: 80%;



            .check_icon {
                position: absolute;
                margin-left: 0.25rem;
                opacity: 0;

                &:last-child {
                    top: 0;
                }
            }
        }
    
        input,
        textarea {
            position: relative;
            padding: 0.25rem 0.5rem;
            color: white;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #888;
            width: 100%;
    
            &[type="textarea"] {
                height: 200px;
                border: 1px solid #888;
            }
    
        }

        input[type="submit"] {
            margin: 1rem auto 0;
            height: 30px;
            width: 40%;
            background-color: transparent;
            color: #888;
        
            &:hover {
                transition: all 0.4s ease-out;
                color: black;
                background-color: #ededed;
                cursor: pointer;

            }
        }
    
    label {
        margin: 0.25rem auto 0.25rem;   
        text-align: left;
        color: white;
        width: 80%;

    }
        
    input:invalid {
    border-bottom: 1px solid rgb(232, 173, 173);
    }

    input:not([type='submit']):valid {
        color: #ccefcc;
        border-bottom: #ccefcc 1px solid;

        ~.check_icon {
            opacity: 1;
        }
        }

        textarea:invalid {
            border: 1px solid rgb(242, 200, 200);
        }
        textarea:valid {
            border: 1px solid  #ccefcc;

            ~.check_icon {
                opacity: 1;
            }
        }

         form:valid input[type="submit"] {
            background-color:  rgb(176, 229, 176);
            color: white;
            border-bottom: 1px solid white;
          }

    }
}