.about {
        margin: 0 auto;
        width: 80%;
        height: 100vh;
        position: relative;
        z-index: 1;
      
        @media(min-width: 768px) {
          margin-top: 0;
      }

      img {
        width: 60%;
        height: auto;
    
    }

    p {
        margin: 10rem auto 0;
        padding: 0.25rem 0.5rem;
        color: rgba(255, 255, 255, 0.987);
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 1.2;
        text-shadow: 1px 1px black;
    }
}