.home {
    position: relative;
    min-height: 100vh;

    > .container {
        height: 100vh;
        padding: 0;
        box-sizing: border-box;
        position: relative;
        
        video {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            object-fit: cover;
            object-position: top center;
            box-sizing: border-box;
            height: 100%;
            z-index: -1;
            opacity: 1;
        }

/* 
        > h1 {
            position: absolute;
            inset: 0;
            display: grid;
            place-items: center;
            background-color: #000000bd;
            color: rgb(253, 253, 253);
            font-size: clamp(10rem, 22vw, 26vw);
            text-align: left;
            font-weight: 900;
            font-family: FoundersGroteskBold;
            mix-blend-mode: soft-light;
            user-select: none;
            line-height: clamp(12rem, 16vw, 16vw);
            
            transition: all 0.3s ease-in-out;
            filter: drop-shadow(10px 10px white);

            &:hover {
                text-shadow: 1rem 1rem 10px rgba(180, 180, 180, 0.774);;
                cursor: pointer;
            }
        } */
    }
}

button {
    z-index: 100;
}

section {
    position: relative;
    margin: 100px auto 2rem;
    width: 80%;
    min-height: 600px;
    height: 100%;

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: clamp(4rem, 8vw, 10rem);
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        color: #ededed;
    } 
    p {
        position: absolute;
        color: #ededed;
        z-index: 10;
        bottom: -5px;
        left: 0;
    }

    @media screen and (min-width: 768px) {
        margin-top: 400px;
        width: 60%;
    }
}
