.carousel {
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: grab;

    .inner_carousel {       
        display: flex;
        align-items: center;
        height: 100%;
        background-color: #121212;

        .item {
            justify-content: center;
            min-width: 90%;
            height: 400px;
            padding: 20px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                border: 1px solid magenta;
                pointer-events: none;
                object-fit: cover;

            }
        }
    }
}