@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:wght@400;800&display=swap");

// will put in different folder and style sheet

@font-face {
  font-family: SourcePro;
  src: url("./assets/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: SourceProBold;
  src: url("./assets/SourceSansPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: SourceProLight;
  src: url("./assets/SourceSansPro-Light.otf");
}


