@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:wght@400;800&display=swap");

// will put in different folder and style sheet



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SourcePro;
  src: url("./assets/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: SourceProBold;
  src: url("./assets/SourceSansPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: SourceProLight;
  src: url("./assets/SourceSansPro-Light.otf");
}

/* @font-face {
  font-family: Blanka;
  src: url("./assets/Blanka-Regular.otf" ) format('opentype');
} */


body {
  width: 100%;
  height: 100%;
  background-color: #000100;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
