.carousel {
    position: relative;
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: grab;

    @media screen and (min-width: 768px) {
        width: 80%;
        height: 40rem;
    }

    .inner_carousel {       
        display: flex;
        align-items: center;
        height: 100%;

        .item {
            position: relative;
            justify-content: center;
            min-width: 100%;
            height: 400px;
            padding: 20px;
            font-size: 0.6rem;
            background-color: #000000;

            @media screen and (min-width: 768px) {
                width: 80%;
                height:100%;
            }


            .image_frame,
            iframe {
                width: 100%;
                height: 100%;
                border-radius: 1px;
                pointer-events: none;
                object-fit: cover;
                object-position: center top;

            }

            .item_name {
                position: absolute;
                top: 0px;
                left: 50px;
                font-size: 1rem;
                color: rgb(224, 224, 224);
                text-shadow: 1px 1px black;
            }

            .item_details {
                margin: 30px;
                padding: 10px;
                width: 80%;
                position: absolute;
                bottom: -20px;
                right: 0;
                background-color: rgb(15, 15, 15);
                color: #888;
                letter-spacing: 1px;

            }

           /*  .btn {
                padding: 1rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 6rem;
            } */
        }
    }
    
}